
@{
    ViewData["Title"] = "Functional Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Functional Test</h1>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Product</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="product" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Description</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="des" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Lot</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="Lot" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Date</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="date" value="" />
    </div>
</div>
<br />
<div class="row">
    <table class="table table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Log</th>
                <th scope="col">Date/Act. Time</th>
                <th scope="col">Carton No</th>
                <th scope="col">Sample Size</th>
                <th scope="col">Test Type</th>
                <th scope="col">Result</th>
                <th scope="col">Comment</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>


            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control log" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control sample-size" value="" /></td>
                <td>
                    <select class="form-control test-type">
                        
                    </select>
                </td>
                <td>
                    <select class="form-control result">
                        
                    </select>
                </td>
                <td><textarea class="form-text comment"></textarea></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            let ProductName = getCookie('ProductName');
            let Des = getCookie('Des');
            $('#product').val(ProductName);
            $('#des').val(Des);
            var now = new Date();
            let log = now.toLocaleDateString("en-US");
            $('#date').val(log);
            let Lot = getCookie('Lot');
            $('#Lot').val(Lot);
            $.ajax({
                type: "POST",
                url: "/ProductionControl/FunctionalTestResult",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option></option>';
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.functionalTestResultId + "'>" + em.testResult + "</option>";
                        }
                        $('tbody tr').each(function (i, em) {
                            var test = $(this).find('.result');
                            $(test).empty();
                            $(test).html(items);
                        });
                        toastr.success('Success to load TestResult');
                    }
                    else {
                        toastr.error(response);
                    }
                }
            }).done(function () {
                $.ajax({
                    type: "POST",
                    url: "/ProductionControl/FunctionalTestType",
                    success: function (response) {
                        if (response != 'Failed') {
                            var items = '<option></option>';
                            for (var i = 0; i < response.length; i++) {
                                var em = response[i];
                                items += "<option value='" + em.functionalTestTypeId + "'>" + em.testType + "</option>";
                            }
                            $('tbody tr').each(function (i, em) {
                                var test_type = $(this).find('.test-type');
                                $(test_type).empty();
                                $(test_type).html(items);
                            });
                            toastr.success('Success to load TestType');
                        }
                        else {
                            toastr.error(response);
                        }
                    }
                }).done(function () {
                    $.ajax({
                        type: "POST",
                        url: "/ProductionControl/FunctionalTest",
                        data: { 'Lot': Lot },
                        success: function (response) {
                            if (response != 'Failed') {
                                let trs = $('tbody tr');
                                for (var i = 0; i < response.length; i++) {
                                    var em = response[i];
                                    let tr = trs[i];

                                    $($(tr).find('.date-time')).val(em.fttimeStamp);
                                    $($(tr).find('.date-time')).prop("disabled", true);

                                    $($(tr).find('.carton-no')).val(em.cartonNo);
                                    $($(tr).find('.carton-no')).prop("disabled", true);

                                    $($(tr).find('.sample-size')).val(em.sampleSize);
                                    $($(tr).find('.sample-size')).prop("disabled", true);

                                    $($(tr).find('.test-type')).html('<option>' + em.testType + '</option>');
                                    $($(tr).find('.test-type')).prop("disabled", true);

                                    $($(tr).find('.result')).html('<option>' + em.result + '</option>');
                                    $($(tr).find('.result')).prop("disabled", true);

                                    $($(tr).find('.comment')).val(em.comment);
                                    $($(tr).find('.comment')).prop("disabled", true);

                                    $($(tr).find('.save')).prop("disabled", true);
                                    $($(tr).find('.log')).prop("disabled", true);
                                }
                                toastr.success("Success for LineClearance");
                            }
                            else toastr.error(response);
                        }
                    });
                });
            });
            
            

            $('input.log').click(function () {
                if ($(this).prop('checked')) {
                    var now = new Date();
                    let log = now.toLocaleString();
                    $(this).closest('tr').find('input.date-time').val(log);
                }
                else {
                    $(this).closest('tr').find('input.date-time').val('');
                    window.location.href = "/ProductSetup/Authorisation";
                }
            });
            $('input.save').click(function () {
                let tr = $(this).closest('tr');
                
                let CartonNo = $(tr).find('.carton-no').val();
                let Comment = $(tr).find('.comment').val();
                let FttimeStamp = $(tr).find('.date-time').val();
                let Result = $(tr).find('.result option:selected').text();
                let SampleSize = $(tr).find('.sample-size').val();
                let TestType = $(tr).find('.test-type option:selected').text();

                if (FttimeStamp == '' || FttimeStamp == undefined) {
                    toastr.warning('Date/Cat. Time is empty.');
                    return;
                }
                if (CartonNo == '' || CartonNo == undefined) {
                    toastr.warning('Carton No is empty.');
                    return;
                }
                if (SampleSize == '' || SampleSize == undefined) {
                    toastr.warning('Sample Size is empty.');
                    return;
                }
                if (TestType == '' || TestType == undefined) {
                    toastr.warning('Test Type is empty.');
                    return;
                }
                if (Result == '' || Result == undefined) {
                    toastr.warning('Result is empty.');
                    return;
                }
                if (Comment == '' || Comment == undefined) {
                    toastr.warning('Comment is empty.');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/ProductionControl/SaveFunctionalTest",
                    data: {
                        'CartonNo': CartonNo,
                        'Comment': Comment,
                        'Des': Des,
                        'FttimeStamp': FttimeStamp,
                        'LotName': Lot,
                        'Product': ProductName,
                        'Result': Result,
                        'SampleSize': SampleSize,
                        'TestType': TestType
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            toastr.success('Success to save');
                            window.location.href = "/Home/JobBagOverview";
                        }
                        else {
                            toastr.error(response);
                        }
                    }
                });
            });
            
            var timer2 = "0:30";
            timerDown(timer2, "/Home/JobBagOverview");

        });
    </script>
}

