
@{
    ViewData["Title"] = "Product Check Point";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Product Check Point</h1>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Product</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="product" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Description</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="des" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Lot</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="Lot" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Date</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="date" value="" />
    </div>
</div>
<br />
<div class="row">
    <table class="table table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Time </th>
                <th scope="col">Check</th>
                <th scope="col">Date/Act. Time</th>
                <th scope="col">Mc Running</th>
                <th scope="col">Carton No</th>
                <th scope="col">Active Cavities</th>
                <th scope="col">Shot Weight (g)</th>
                <th scope="col">Cycle Count</th>
                <th scope="col">Rejects</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">02:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">04:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">06:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">08:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">10:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">12:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">14:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">16:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">18:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">20:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><label class="col-form-label">22:00</label></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td>
                    <select class="form-control mc-running">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td>
                    <select class="form-control cavities">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                    </select>
                </td>
                <td><input type="text" class="form-control shot-weight" value="" /></td>
                <td><input type="text" class="form-control cycle" value="" /></td>
                <td>
                    <select class="form-control reject">
                        <option></option><option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            let ProductName = getCookie('ProductName');
            let Des = getCookie('Des');
            let LotID = getCookie('LotID');
            let Machine = getCookie('Machine');
            $('#product').val(ProductName);
            $('#des').val(Des);
            var now = new Date();
            let log = now.toLocaleDateString("en-us");
            $('#date').val(log);
            let Lot = getCookie('Lot');
            $('#Lot').val(Lot);
            $.ajax({
                type: "POST",
                url: "/ProductionControl/ProductCheckPoint",
                data: { 'Lot': Lot },
                success: function (response) {
                    if (response != 'Failed') {
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];

                            let cp = em.checkPoint.value.hours + ':00';
                            let tr = $("label:contains('" + cp + "')").closest('tr');

                            $($(tr).find('.lot-update')).prop('checked', em.logFile);
                            $($(tr).find('.lot-update')).prop("disabled", true);

                            $($(tr).find('.date-time')).val(em.pcptimeStamp);
                            $($(tr).find('.date-time')).prop("disabled", true);

                            if (em.mcRunning) {
                                $($(tr).find('.mc-running')).val('Yes')
                            }
                            else {
                                $($(tr).find('.mc-running')).val('No')
                            }
                            $($(tr).find('.mc-running')).prop("disabled", true);

                            $($(tr).find('.carton-no')).val(em.cartonNo);
                            $($(tr).find('.carton-no')).prop("disabled", true);

                            $($(tr).find('.cavities')).val(em.activeCavities);
                            $($(tr).find('.cavities')).prop("disabled", true);

                            $($(tr).find('.shot-weight')).val(em.shotWeight);
                            $($(tr).find('.shot-weight')).prop("disabled", true);

                            $($(tr).find('.cycle')).val(em.cycleCount);
                            $($(tr).find('.cycle')).prop("disabled", true);

                            if (em.rejects) {
                                $($(tr).find('.reject')).val('Yes')
                            }
                            else {
                                $($(tr).find('.reject')).val('No')
                            }
                            $($(tr).find('.reject')).prop("disabled", true);

                            $($(tr).find('.save')).prop("disabled", true);
                            $($(tr).find('.lot-update')).prop("disabled", true);
                        }
                    }
                }
            });
            $('input.lot-update').click(function () {
                if ($(this).prop('checked')) {
                    var now = new Date();
                    let log = now.toLocaleString();
                    $(this).closest('tr').find('input.date-time').val(log);
                    setCookie('checkpoint-time', log, 1);
                    var tick = $(this);
                    $.ajax({
                        type: "POST",
                        url: "/ProductSetup/LineClearance",
                        data: { 'Lot': Lot },
                        success: function (response) {
                            if (response != 'Failed') {
                                if (response.length == 0) {
                                    $(tick).prop('checked', false);
                                    $(tick).closest('tr').find('input.date-time').val('');
                                    toastr.error('please complete Line Clearance');
                                    window.location.href = "/ProductSetup/LineClearance";
                                } else {
                                    $.ajax({
                                        type: "POST",
                                        url: "/ProductSetup/AuthorisationToRun",
                                        data: { 'Lot': Lot },
                                        success: function (response) {
                                            if (response != 'Failed') {
                                                if (response.length == 0) {
                                                    $(tick).prop('checked', false);
                                                    $(tick).closest('tr').find('input.date-time').val('');
                                                    toastr.error('please complete Authorisation To Run');
                                                    window.location.href = "/ProductSetup/Authorisation";
                                                }
                                            }
                                            else {
                                                $(tick).prop('checked', false);
                                                $(tick).closest('tr').find('input.date-time').val('');
                                                toastr.error('please complete Authorisation To Run');
                                                window.location.href = "/ProductSetup/Authorisation";
                                            }
                                        }
                                    });
                                }
                            }
                            else {
                                $(tick).prop('checked', false);
                                $(tick).closest('tr').find('input.date-time').val('');
                                toastr.error('please complete Line Clearance');
                                window.location.href = "/ProductSetup/LineClearance";
                            }
                        }
                    });
                }
                else {
                    $(this).closest('tr').find('input.date-time').val('');
                    window.location.href = "/ProductSetup/Authorisation";
                }
            });
            $('.mc-running').change(function () {
                var v = $(this).val();
                if (v == 'No') {
                    window.location.href = "/Home/MachineDowntimeRecord";
                }
            });
            $('.reject').change(function () {
                var v = $(this).val();
                if (v == 'Yes') {
                    window.location.href = "/Home/QualityRecord";
                }
            });
            $('.cavities').change(function () {
                var v = $(this).val();
                v = parseInt(v);
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/QryLot",
                    data: { 'LotID': LotID},
                    success: function (response) {
                        if (response != 'Failed') {
                            if (v < response.cav) {
                                window.location.href = "/Home/CavitationRecord";
                            }
                            if (v > response.cav) {
                                toastr.error('Too many cavities selected');
                            }
                        }
                    }
                });
                
                
            });
            $('input.save').click(function () {
                let tr = $(this).closest('tr');

                let time = $(tr).find('.date-time').val();
                let running = $(tr).find('.mc-running').val();

                let carton = $(tr).find('.carton-no').val();
                let cavities = $(tr).find('.cavities').val();
                let weight = $(tr).find('.shot-weight').val();
                let cycle = $(tr).find('.cycle').val();
                let reject = $(tr).find('.reject').val();

                let checkpoint = $(tr).find('label').text();
                
                if (time == '' || time == undefined) {
                    toastr.warning('Date/Cat. Time is empty.');
                    return;
                }
                if (running == '' || time == undefined) {
                    toastr.warning('Mc Running is empty.');
                    return;
                }
                if (carton == '' || carton == undefined) {
                    toastr.warning('Carton No is empty.');
                    return;
                }
                if (cavities == '' || cavities == undefined) {
                    toastr.warning('Active Cavities is empty.');
                    return;
                }
                if (weight == '' || weight == undefined) {
                    toastr.warning('Shot Weight is empty.');
                    return;
                }
                if (cycle == '' || cycle == undefined) {
                    toastr.warning('Cycle Count is empty.');
                    return;
                }
                if (reject == '' || time == undefined) {
                    toastr.warning('Rejects is empty.');
                    return;
                }
                if (reject == "Yes") {
                    reject = true;
                }
                else {
                    reject = false;
                }
                if (running == "Yes") {
                    running = true;
                }
                else {
                    running = false;
                }
                $.ajax({
                    type: "POST",
                    url: "/ProductionControl/SaveProductCheckPoint",
                    data: {
                        LotName: Lot,
                        Product: ProductName,
                        Des: Des,
                        CheckPoint: checkpoint,
                        PcptimeStamp: time,
                        McRunning: running,
                        ActiveCavities: cavities,
                        ShotWeight: weight,
                        CycleCount: cycle,
                        Rejects: reject,
                        CartonNo: carton,
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            window.location.href = "/Home/JobBagOverview";
                        }
                    }
                })

                //window.location.href = "/Home/JobBagOverview";
            });

            var timer2 = "0:30";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}


