@{
    ViewData["Title"] = "Machine Downtime Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-center">Machine Downtime Record</h1>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Checkpoint</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="checkpoint" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Full Cavitation</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="cavitation" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label">Lot</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="Lot" value="" />
    </div>
</div>
<br />
<div class="row">
    <h3>Comment</h3>
    <textarea id="comment" class="form-control" style="height:350px;"></textarea>
</div>
<br />
<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <input type="button" id="save" value="Save" class="form-control btn btn-primary" disabled />
    </div>
</div>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            let checkpoint = getCookie('checkpoint-time');
            let cavitation = getCookie('Cav');
            let Lot = getCookie('Lot');
            $('#checkpoint').val(checkpoint);
            $('#cavitation').val(cavitation);
            $('#Lot').val(Lot);
            $('#comment').on('input', function () {
                $('#save').attr('disabled', false);
            });
            $('#save').click(function () {
                let comment = $('#comment').val();

                if (checkpoint == '' || checkpoint == undefined) {
                    toastr.error('CheckPoint is empty');
                    return;
                }
                if (cavitation == '' || cavitation == undefined) {
                    toastr.error('cavitation is empty');
                    return;
                }
                if (Lot == '' || Lot == undefined) {
                    toastr.error('Lot is empty');
                    return;
                }
                if (comment == '' || comment == undefined) {
                    toastr.error('comment is empty');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Home/SaveMachineDowntimeRecord",
                    data: {
                        Lot: Lot,
                        time: checkpoint,
                        cav: cavitation,
                        comment: comment
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            toastr.success("Success to save MachineDown Time Record");
                            window.location.href = "/ProductionControl/ProductCheckpoint";
                        }
                        else toastr.error(response);
                    }
                });
                
            });
        });
        timerDown('0:30', '/ProductionControl/ProductCheckpoint');
    </script>
}