
@{
    ViewData["Title"] = "Data Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Data Archive</h1>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Lot</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="Lot">
        </select>
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Product Description</label>
    </div>
    <div class="col-md-2">
        <input type="text" id="DES" value="" class="form-control" />
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Data Query</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="data-query">
        </select>
    </div>
</div>
<br />
<div class="row">
    <h3>Achieve Query</h3>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var Des = getCookie('Des');
            $('#DES').val(Des);
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetLot",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option></option>';
                        $("#Lot").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.lotId + "'>" + em.lotName + "</option>";
                        }
                        $('#Lot').html(items);
                        toastr.success("Success for Lot");
                    }
                    else {
                        toastr.error('Failed for Lot');
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetDataArchiveQuery",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option></option>';
                        $("#data-query").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.dataArchiveQueryId + "'>" + em.dataArchiveQuery + "</option>";
                        }
                        $('#data-query').html(items);
                        toastr.success("Success for Lot");
                    }
                    else {
                        toastr.error('Failed for Lot');
                    }
                }
            });
            $('#Lot').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/QryLot",
                    data: {'LotID': $('#Lot').val()},
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#DES').val(response.productName);
                            toastr.success("Success for Product Description");
                        }
                        else {
                            toastr.error('Failed for Lot');
                        }
                    }
                });
            });
            $('#data-query').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/DataQuery",
                    data: { 'Query': $('#data-query').val() },
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#DES').val(response.productName);
                            toastr.success("Success for Product Description");
                        }
                        else {
                            toastr.error('Failed for Lot');
                        }
                    }
                });
            });
            var timer2 = "0:30";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}



