
@{
    ViewData["Title"] = "Data Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Data Archive</h1>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Lot</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="Lot">
        </select>
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Product Description</label>
    </div>
    <div class="col-md-2">
        <input type="text" id="DES" value="" class="form-control" />
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Data Query</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="data-query">
        </select>
    </div>
</div>
<br />
<div class="row">
    <h3>Achieve Query</h3>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetLot",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option>Select Lot</option>';
                        $("#Lot").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.lotId + "'>" + em.lotName + "</option>";
                        }
                        $('#Lot').html(items);
                        toastr.success("Success for Lot");
                    }
                    else {
                        toastr.error('Failed for Lot');
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetDataArchiveQuery",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option>Select Data Query</option>';
                        $("#data-query").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.dataArchiveQueryId + "'>" + em.dataArchiveQuery + "</option>";
                        }
                        $('#data-query').html(items);
                        toastr.success("Success for Data Archive Query");
                    }
                    else {
                        toastr.error('Failed for  Data Archive Query');
                    }
                }
            });
            $('#Lot').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/QryLot",
                    data: {'LotID': $('#Lot').val()},
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#DES').val(response.productName);
                            toastr.success("Success for Product Description");
                        }
                        else {
                            toastr.error('Failed for  Product Description');
                        }
                    }
                });
            });
            $('#data-query').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/DataQuery",
                    data: { 'Query': $('#data-query').val() },
                    success: function (response) {
                        if (response != 'Failed') {
                            $('thead').empty();
                            var header = '';
                            if (response.length > 0) {
                                var em = response[0];
                                var keys = Object.keys(em);
                                for (var i = 0; i < keys.length; i++) {
                                    header += '<th>' + keys[i] + '</th>';
                                }
                                $('thead').html(header);
                            }
                            $('tbody').empty();
                            var tbody = '';
                            for (var i = 0; i < response.length; i++) {
                                var em = response[i];
                                var tr = '<tr>';
                                var vals = Object.values(em);
                                for (var i = 0; i < vals.length; i++) {
                                    tr += '<td>' + vals[i] + '</td>';
                                }
                                tr += '</tr>';
                                tbody += tr;
                            }
                            $('tbody').html(tbody);
                            toastr.success("Success for " + $('#data-query option:selected').text());
                        }
                        else {
                            toastr.error('Failed for ' + $('#data-query option:selected').text());
                        }
                    }
                });
            });
            var timer2 = "0:30";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}



