
@{
    ViewData["Title"] = "Data Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Data Archive</h1>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Lot</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="Lot">
        </select>
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Product Description</label>
    </div>
    <div class="col-md-2">
        <input type="text" id="DES" value="" class="form-control" />
    </div>
    <div class="col-md-2 text-right">
        <label class="col-form-label font-weight-bold">Data Query</label>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="data-query">
        </select>
    </div>
</div>
<br />
<div class="row">
    <h3 id="title"></h3>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetLot",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option>Select Lot</option>';
                        $("#Lot").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.lotId + "'>" + em.lotName + "</option>";
                        }
                        $('#Lot').html(items);
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "/DataArchive/GetDataArchiveQuery",
                success: function (response) {
                    if (response != 'Failed') {
                        var items = '<option>Select Data Query</option>';
                        $("#data-query").empty();
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            items += "<option value='" + em.dataArchiveQueryId + "'>" + em.dataArchiveQuery + "</option>";
                        }
                        $('#data-query').html(items);
                    }
                }
            });
            $('#Lot').change(function () {
                $('#DES').val('');
                $('#data-query option:selected').text('Select Data Query')
                $('thead').empty();
                $('tbody').empty();
                $('#title').text('');
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/QryLot",
                    data: {'LotID': $('#Lot').val()},
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#DES').val(response.productName);
                        }
                    }
                });
            });
            $('#data-query').change(function () {
                if ($('#Lot').val() == 'Select Lot') {
                    toastr.error('Please select a Lot');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/DataArchive/DataQuery",
                    data: {
                        'Query': $('#data-query').val(),
                        'Lot': $('#Lot option:selected').text()
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            $('#title').text($('#data-query option:selected').text());
                            $('thead').empty();
                            var header = '';
                            if (response.length > 0) {
                                var em = response[0];
                                var keys = Object.keys(em);
                                for (var i = 0; i < keys.length; i++) {
                                    header += '<th>' + keys[i] + '</th>';
                                }
                                $('thead').html(header);
                            }
                            $('tbody').empty();
                            var tbody = '';
                            for (var i = 0; i < response.length; i++) {
                                var em = response[i];
                                var tr = '<tr>';
                                var vals = Object.values(em);
                                for (var j = 0; j < vals.length; j++) {
                                    tr += '<td>' + vals[j] + '</td>';
                                }
                                tr += '</tr>';
                                tbody += tr;
                            }
                            $('tbody').html(tbody);
                        }
                    }
                });
            });
            var timer2 = "0:30";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}



