
@{
    ViewData["Title"] = "Authorisation To Run";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Authorisation To Run</h1>
<br />
<div class="row">
    <div class="col-md-1">
        <label class="col-form-label">Lot</label>
    </div>
    <div class="col-md-2">
        <input type="text" id="Lot" class="form-control" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-4">
        <iframe src="/pdf/test.pdf#zoom=40" type="application/pdf" style="width: 100%;height: 800px;"></iframe>
    </div>
    <div class="col-lg-8">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col">Log</th>
                    <th scope="col">Date/Act. Time</th>
                    <th scope="col">Tech RFID</th>
                    <th scope="col">Username</th>
                    <th scope="col">QC RFID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Save</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="form-control log" value="" /></td>
                    <td><input type="text" class="form-control date-time" value="" /></td>
                    <td><input type="password" class="form-control tech-rfid" value="" /></td>
                    <td><input type="text" class="form-control username" value="" /></td>
                    <td><input type="password" class="form-control qc-rfid" value="" /></td>
                    <td><input type="text" class="form-control username1" value="" /></td>
                    <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            let LotID = getCookie('LotID');
            let Machine = getCookie('Machine');
            let Lot = getCookie('Lot');
            $('#Lot').val(Lot);
            $.ajax({
                type: "POST",
                url: "/ProductSetup/AuthorisationToRun",
                data: { 'Lot': Lot },
                success: function (response) {
                    if (response != 'Failed') {
                        let trs = $('tbody tr');
                        for (var i = 0; i < response.length; i++) {
                            var em = response[i];
                            let tr = trs[i];

                            $($(tr).find('.log')).prop('checked', em.logFile);
                            $($(tr).find('.log')).prop("disabled", true);

                            $($(tr).find('.date-time')).val(em.atrtimeStamp);
                            $($(tr).find('.date-time')).prop("disabled", true);
                            $($(tr).find('.tech-rfid')).val(em.techRfid);
                            $($(tr).find('.tech-rfid')).prop("disabled", true);
                            $($(tr).find('.username')).val(em.techUsername);
                            $($(tr).find('.username')).prop("disabled", true);
                            $($(tr).find('.qc-rfid')).val(em.qcrfid);
                            $($(tr).find('.qc-rfid')).prop("disabled", true);
                            $($(tr).find('.username1')).val(em.qcusername);
                            $($(tr).find('.username1')).prop("disabled", true);

                            $($(tr).find('.save')).prop("disabled", true);
                            $($(tr).find('.log')).prop("disabled", true);

                        }
                    }
                }
            });

            $('input.log').click(function () {
                if ($(this).prop('checked')) {
                    var now = new Date();
                    let log = now.toLocaleString();
                    $(this).closest('tr').find('input.date-time').val(log);
                    $(this).closest('tr').find('input.tech-rfid').focus();
                }
                else {
                    $(this).closest('tr').find('input.date-time').val('');

                }
            });
            $('input.tech-rfid').on('input', function () {
                var tr = $(this).closest('tr');
                var techUser = $(tr).find('.username');
                $.ajax({
                    type: "POST",
                    url: "/Account/GetUser",
                    data: { 'TechRfid': $(this).val() },
                    success: function (response) {
                        if (response != 'Failed') {
                            $(techUser).val(response.username);
                            var qcrfid = $(tr).find('.qc-rfid');
                            $(qcrfid).focus();
                        }
                        else toastr.error('RFID not recognised, please try again');
                    }
                })
            });
            $('input.qc-rfid').on('input', function () {
                var tr = $(this).closest('tr');
                var techUser = $(tr).find('.username1');
                $.ajax({
                    type: "POST",
                    url: "/Account/GetUser",
                    data: { 'TechRfid': $(this).val() },
                    success: function (response) {
                        if (response != 'Failed') {
                            $(techUser).val(response.username);
                            var qcrfid = $(tr).find('.qc-rfid');
                        }
                        else toastr.error('RFID not recognised, please try again');
                    }
                })
            });
            $('input.save').click(function () {
                let tr = $(this).closest('tr');
                var LCTimeStamp = $(tr).find('input.date-time').val();
                var TechRFID = $(tr).find('input.tech-rfid').val();
                var TechUsername = $(tr).find('input.username').val();
                var QCRFID = $(tr).find('input.qc-rfid').val();
                var QCUsername = $(tr).find('input.username1').val();

                if (LCTimeStamp == '') {
                    toastr.warning('Date/Cat. Time is empty.');
                    return;
                }
                if (TechRFID == '') {
                    toastr.warning('Tech RFID is empty.');
                    return;
                }
                if (TechUsername == '') {
                    toastr.warning('First Username is empty.');
                    return;
                }
                if (QCRFID == '') {
                    toastr.warning('QC RFID is empty.');
                    return;
                }
                if (QCUsername == '') {
                    toastr.warning('Second Username is empty.');
                    return;
                }
                if (Lot == '' || Lot == undefined) {
                    toastr.warning('Lot is empty.');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/ProductSetup/SaveAuthorisationToRun",
                    data: {
                        'LotName': Lot,
                        'LCTimeStamp': LCTimeStamp,
                        'TechRFID': TechRFID,
                        'TechUsername': TechUsername,
                        'QCRFID': QCRFID,
                        'QCUsername': QCUsername
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            toastr.success('Success to save Authorisation');
                            window.location.href = "/Home/JobBagOverview";
                        }
                    }
                })

            });
            var timer2 = "5:00";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}