
@{
    ViewData["Title"] = "Material Lot Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Material Lot Control</h1>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Product</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="product" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Description</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="des" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Lot</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="Lot" value="" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="col-form-label">Date</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="date" value="" />
    </div>
</div>
<br />
<div class="row">
    <table class="table table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Lot Update</th>
                <th scope="col">Date/Act. Time</th>
                <th scope="col">Carton No</th>
                <th scope="col">Polymer 1</th>
                <th scope="col">Polymer 2</th>
                <th scope="col">Masterbatch</th>
                <th scope="col">Slip Additive</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-control lot-update" value="" /></td>
                <td><input type="text" class="form-control date-time" value="" /></td>
                <td><input type="text" class="form-control carton-no" value="" /></td>
                <td><input type="text" class="form-control polymer1" value="" /></td>
                <td><input type="text" class="form-control polymer2" value="" /></td>
                <td><input type="text" class="form-control masterbatch" value="" /></td>
                <td><input type="text" class="form-control slip" value="" /></td>
                <td><input type="button" class="form-control save btn btn-primary" value="Save" /></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            let ProductName = getCookie('ProductName');
            let Des = getCookie('Des');
            let LotID = getCookie('LotID');
            let Machine = getCookie('Machine');
            $('#product').val(ProductName);
            $('#des').val(Des);
            var now = new Date();
            let log = now.toLocaleDateString("en-us");
            $('#date').val(log);
            let Lot = getCookie('Lot');
            $('#Lot').val(Lot);
                $.ajax({
                    type: "POST",
                    url: "/ProductSetup/MaterialLot",
                    data: { 'Lot': Lot },
                    success: function (response) {
                        if (response != 'Failed') {
                            let trs = $('tbody tr');
                            for (var i = 0; i < response.length; i++) {
                                var em = response[i];
                                let tr = trs[i];
                                $($(tr).find('.date-time')).val(em.mlctimeStamp);
                                $($(tr).find('.date-time')).prop("disabled", true);
                                $($(tr).find('.carton-no')).val(em.cartonNo);
                                $($(tr).find('.carton-no')).prop("disabled", true);
                                $($(tr).find('.polymer1')).val(em.p1lot);
                                $($(tr).find('.polymer1')).prop("disabled", true);
                                $($(tr).find('.polymer2')).val(em.p2lot);
                                $($(tr).find('.polymer2')).prop("disabled", true);
                                $($(tr).find('.masterbatch')).val(em.mblot);
                                $($(tr).find('.masterbatch')).prop("disabled", true);
                                $($(tr).find('.slip')).val(em.salot);
                                $($(tr).find('.slip')).prop("disabled", true);

                                $($(tr).find('.lot-update')).prop("disabled", true);
                                $($(tr).find('.save')).prop("disabled", true);
                            }
                            toastr.success("Success for LineClearance");
                        }
                        else toastr.error(response);
                    }
                });
            $('input.lot-update').click(function () {
                if ($(this).prop('checked')) {
                    var now = new Date();
                    let log = now.toLocaleString();
                    $(this).closest('tr').find('input.date-time').val(log);
                }
                else {
                    $(this).closest('tr').find('input.date-time').val('');
                    window.location.href = "/ProductSetup/LineClearance";
                }
            });
            $('input.save').click(function () {
                let tr = $(this).closest('tr');

                let time = $(tr).find('input.date-time').val();
                let carton = $(tr).find('input.carton-no').val();
                let polymer1 = $(tr).find('input.polymer1').val();
                let polymer2 = $(tr).find('input.polymer2').val();
                let masterbatch = $(tr).find('input.masterbatch').val();
                let slip = $(tr).find('input.slip').val();

                if (time == '' || time == undefined) {
                    toastr.warning('Date/Cat. Time is empty.');
                    return;
                }
                if (carton == '' || carton == undefined) {
                    toastr.warning('Carton No is empty.');
                    return;
                }
                if (polymer1 == '' || polymer1 == undefined) {
                    toastr.warning('Polymer 1 is empty.');
                    return;
                }
               
                $.ajax({
                    type: "POST",
                    url: "/ProductSetup/SaveMaterialLot",
                    data: {
                        'CartonNo': carton,
                        'P1lot': polymer1,
                        'P2lot': polymer2,
                        'Mblot': masterbatch,
                        'Salot': slip,
                        'Mlctimestamp': time,
                        'LotName': Lot,
                        'Des': Des
                    },
                    success: function (response) {
                        if (response != 'Failed') {
                            toastr.success("Success to save MaterialLot");
                            window.location.href = "/Home/JobBagOverview";
                        }
                        else toastr.error(response);
                    }
                });
            });

            var timer2 = "5:00";
            timerDown(timer2, "/Home/JobBagOverview");
        });
    </script>
}

